*{
  box-sizing: border-box;
}
.pagewrap{
  display:flex;
}
.set{
  display:flex;
  flex:0 0 50%;
  padding: 5px;
}
.set>form{
  flex:0 0 60%;
  padding:5px;
  display:flex;
  flex-wrap:wrap;
}
.set>div{
  flex:0 0 40%;
  padding:5px;
}
#submit{
  flex: 0 0 100%;
  padding:2px;
}
.flex30{
  flex:0 0 30%;
  padding:2px;
}
.flex50{
  flex:0 0 50%;
  padding:2px;
}
.flex100{
  flex:0 0 100%;
  padding:2px;
}
